<div class="page-header">
  <h3>Feeschedule #<%= @feeschedule.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>Description</dt>
      <dd><%= @feeschedule.description %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/feeschedules" class="btn btn-primary">
        Back
      </a>
      <a href="/feeschedules/<%= @feeschedule.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_feeschedule/<%= @feeschedule.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
