/*custom css file for toothii */

p.transaction-price {
    font-weight: bold;
    color: lightblue;
}

.section-background{
	background-color: rgb(239,239,240);
  padding: 2.5vh;
}

.section-background-green{
  background-color: rgb(142,197,67);
  padding: 2.5vh;
}

.elements-background{
	background-color: rgb(142,197,67);
}

.elements-theme{
	background-color: rgba(142,197,67,0);
	color: white;
	height: 100%;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

.container-full {
  margin: 0 auto;
  width: 100%;
}


@media print {
body {-webkit-print-color-adjust: exact;}
}

.single-line-of-text {
    white-space: nowrap;
}

.card-line-height{
  line-height:1.2;
}

.chart-height{
  height: 30em;
}

.label-default{
  background: rgb(222,235,247);
  color: rgb(74,127,176);
  border-radius: 0;
}

.contact-icon-background{
  color: rgb(157,195,230);
}

.contact-icon{
  color: rgb(11,11,11);
}